:root {
    --primary-color: #ECB938;
    --yt: #fff;
    --black-color: #202124;

}
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image:  linear-gradient(rgba(27, 21, 21, 0.45), rgba(27, 21, 21, 0.45)), 
                        url(/radioFemale.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
/* DEFAULT STYLE FOR ALL SECTION */
/* section{
    margin: 20px 0;
} */

/* ADDING FLEX TO THE HEADER ADDS NO EFFECT TO THE STYLING
header{
    display: flex;
} */
.menu{
    background-color: var(--black-color);
    /* flex: 1; */
    display: flex;
}
.nav-links{
    list-style: none;
    flex: 1;
    display: flex;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--yt);

}
.brand-name {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: var(--yt);
    font: bold 24px fantasy;
  }

  /* HAMBUGER MENU */
  #menu{
      width: 35px;
      height: 30px;
      margin: 20px 0 0px 20px;
      cursor: pointer;
  }
  .bar{
      height: 5px;
      width: 100%;
      background-color: var(--yt);
      display: block;
      border-radius: 5px;
      transition: 0.3s ease;
  }
  #bar1{
      transform: translateY(-4px)
  }
  #bar3{
      transform: translateY(4px)
  }

  /* THE CHANGE CLASS FROM JAVASCRIPT TOGGLE */
  .change .bar{
      background-color: var(--primary-color);
  }
  .change #bar1{
      transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3{
      transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2{
      /* display: none; */
      opacity: 0;
  }

  /* HAMBURGER NAVIGATION STILL IN PROGRESS */
.nav li a {
    color: #fff;
    text-decoration: none;
    flex: 12;
}
.nav li a:hover{
    font-weight: bold;
}
.nav li{
    list-style: none;
    padding: 16px 0;
}
.nav{
    padding: 0;
    margin: 50px auto auto 0;
    transition: 0.3s ease;
    display: none;
}
.change{
    display: flex;
    flex-direction: column;
    
    align-items: stretch;
}
.change li{
    width: 650px;
    flex: auto;
    display: flex;
    background-color: #323030;
    margin-bottom: 20px;
}
#nav .tab-menu{
    flex: 1;
    background: var(--primary-color);
}

/* NAVIGATION BACKGROUND EFFECT */
.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s ease;
}
.change-bg{
    width: 650px;
    height: 600px;
    min-height: 100vh;
}
.menu-bg, .menu-bar1 {
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bar1{
    z-index: 2;
    /* margin: 12% 0 0 5%; */
}


/* SECTION FOR RADIO STATIONS */
.radio-stations{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.radio{
    background-color: blanchedalmond;
    margin: 10px 20px;
    width: 205px;
    height: 120px;
    border: 0.15rem solid var(--black-color);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    color: blanchedalmond;
}
.radio a{
    display: flex;
}
section div img{
    flex: 1;
    border-radius: 15px;
    height: 120px;
}

/* THIS SECTION IS FOR THE RADIO PLAYER / MUSIC PLAYER */

/* NEW PLAYER CONTROLS */
.container-section{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.child-of-conatiner-item{
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    width: 590px;
    height: 120px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    padding: 8px;
    flex-wrap: nowrap;
}
#radio-image{
    background-image: url("https://cdn.webrad.io/images/logos/radio-org-ng/max.png");
    background-size: auto;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto 4px;
}
#previous-button{
    background-image: url(./icons/previous_icon.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto 4px;
    cursor: pointer;
}
#play-button{
    background-image: url(./icons/play_icon.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto 4px;
    cursor: pointer;
}
#pause-button{
    background-image: url(./icons/pause_icon.png);
}
#next-button{
    background-image: url(./icons/next_icon.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto 4px;
    cursor: pointer;
}
#volume-icon{
    background-image: url(./icons/volume_icon.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto 4px;
    cursor: pointer;
}

/* FOOTER  */
footer{
    position: sticky;
    top: 5000px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color : #060607;
    color: #fff;
}
.footer-link{
    text-decoration: none;
    color: blue;
}