:root {
    --primary-color: #ECB938;
    --yt: #fff;
    --black-color: #202124;

}
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(/radioFemale.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
}
.menu{
    background-color: var(--black-color);
    flex: 1;
    display: flex;
}
.nav-links{
    list-style: none;
    flex: 1;
    display: flex;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--yt);

}
.brand-name {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: var(--yt);
    font: bold 24px fantasy;
  }

  /* HAMBUGER MENU */
  #menu{
      /* background-color: rgb(0, 0, 0); */
      width: 35px;
      height: 30px;
      margin: 20px 0 0px 20px;
      cursor: pointer;
  }
  .bar{
      height: 5px;
      width: 100%;
      background-color: var(--yt);
      display: block;
      border-radius: 5px;
      transition: 0.3s ease;
  }
  #bar1{
      transform: translateY(-4px)
  }
  #bar3{
      transform: translateY(4px)
  }

  /* THE CHANGE CLASS FROM JAVASCRIPT TOGGLE */
  .change .bar{
      background-color: var(--primary-color);
  }
  .change #bar1{
      transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3{
      transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2{
      /* display: none; */
      opacity: 0;
  }

  /* HAMBURGER NAVIGATION STILL IN PROGRESS */
  #links{
      padding: 0;
      margin: 0 20px;
      transition: 0.3s ease;
      display: none;
  }
  #links li a{
      color: var(--yt);
      text-decoration: none;
      text-transform: uppercase;
  }
  #links li{
      list-style: none;
      padding: 16px 0;
  }
  .change{
      display: inline-block;
  }